* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

.tabs_container {
  display: flex;
  justify-content: center;
}

.form {
  width: 60%;
  background: cornsilk;
  margin: auto;
}

.tabs_container_item {
  margin-right: 30px;
}
